@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

button:active {
  background: none;
}

button:focus {
  background: none;
}

button:hover {
  background: none;
}

a {
  text-decoration: none;
}

body,
html {
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
}

svg {
  max-width: 100%;
}

div.connect-four {
  min-height: 100vh;
  min-width: 100vw;
  background: #7945ff;
}

div.connect-four div.indicator {
  position: fixed;
  bottom: 0;
  width: 0;
  height: 40%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 100%;
  background-color: #5c2dd5;
  z-index: 1;
}

div.connect-four div.container main.main-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #5c2dd5;
  z-index: 5;
}

div.connect-four div.container main.main-menu div.content {
  min-height: 250px;
  width: 300px;
  padding: 1em;
  background: #7945ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 5px 10px black;
          box-shadow: 0px 5px 10px black;
  border-radius: 30px;
}

div.connect-four div.container main.main-menu div.content a {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  font-size: 1em;
  background: #fff;
  color: #000000;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 30px;
}

div.connect-four div.container main.main-menu div.content a.play-button {
  background: #ffce67;
  margin-top: 50px;
}

div.connect-four div.container main.main-menu div.content a span.icon {
  width: 50px;
}

div.connect-four div.container main.main-menu div.icon-main svg {
  width: 150px;
}

div.connect-four div.container nav.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
}

div.connect-four div.container nav.navigation a,
div.connect-four div.container nav.navigation button {
  display: inline-block;
  padding: 1em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #5c2dd5;
  border-radius: 16px;
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
}

div.connect-four div.container div.game-screen main.main-content div.game {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "player . opponent" "board board board";
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.connect-four div.container div.game-screen main.main-content div.game div.player-content {
  height: 120px;
  width: 120px;
  background: #fff;
  position: relative;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.connect-four div.container div.game-screen main.main-content div.game div.player-content b {
  margin-bottom: 2px;
  text-transform: uppercase;
}

div.connect-four div.container div.game-screen main.main-content div.game div.player-content h1 {
  font-size: 42px;
}

div.connect-four div.container div.game-screen main.main-content div.game div.player-content div.player-icon {
  width: 30px;
  position: absolute;
  top: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

div.connect-four div.container div.game-screen main.main-content div.game div.player-content div.player-icon p {
  text-transform: uppercase;
}

div.connect-four div.container div.game-screen main.main-content div.game div.player-content.player {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: player;
}

div.connect-four div.container div.game-screen main.main-content div.game div.player-content.opponent {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: opponent;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: board;
  z-index: 3;
  position: relative;
  width: 335px;
  height: 310px;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-back {
  background: url(../assets/board-layer-white-small.svg), url(../assets/board-layer-black-small.svg) no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-back button.button {
  position: relative;
  background: transparent;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-back button.button:hover span.marker {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-back button.button span.marker {
  display: block;
  position: absolute;
  width: 38px;
  height: 15px;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  height: 100%;
  position: absolute;
  padding: 0 7px;
  top: 0;
  left: 0;
  width: 100%;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row {
  display: -ms-grid;
  display: grid;
  position: relative;
      grid-template-areas: "item-6" "item-5" "item-4" "item-3" "item-2" "item-1";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-bottom: 32px;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc {
  height: 33.95px;
  width: 100%;
  border-radius: 60px;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc div.seed {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  position: relative;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc div.seed svg.seed {
  height: inherit;
  width: inherit;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc.item-1 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: item-1;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc.item-2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: item-2;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc.item-3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: item-3;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc.item-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item-4;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc.item-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-5;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc.item-6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-6;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row:hover {
  background: rgba(0, 0, 0, 0.4);
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.game-status {
  height: 100px;
  width: 130px;
  z-index: 10;
  position: absolute;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.game-status h2 {
  margin: 0.3em 0;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.game-status button.btn {
  background: #5c2dd5;
  color: #fff;
  border-radius: 15px;
  padding: 0.4em 1em;
  cursor: pointer;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.game-status b {
  text-transform: uppercase;
  font-size: 0.8em;
  font-size: 0.7em;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.game-status.player-1 {
  background: url(../assets/turn-background-red.svg) no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.connect-four div.container div.game-screen main.main-content div.game div.board div.game-status.player-2 {
  background: url(../assets/turn-background-yellow.svg) no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.connect-four div.game-menu {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

div.connect-four div.game-menu div.menu {
  width: 300px;
  background: #7945ff;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

div.connect-four div.game-menu div.menu button {
  display: block;
  cursor: pointer;
}

div.connect-four div.game-menu div.menu a {
  background: #fd6687;
  display: block;
  color: #fff;
  cursor: pointer;
}

div.connect-four div.game-menu div.menu button,
div.connect-four div.game-menu div.menu a,
div.connect-four div.game-menu div.menu h1 {
  font-weight: 900;
  padding: 1em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 1110px) {
  div.connect-four div.container {
    width: 1000px;
    margin: 0 auto;
  }
  div.connect-four div.container nav.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 632px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  div.connect-four div.container nav.navigation a,
  div.connect-four div.container nav.navigation button {
    display: inline-block;
    padding: 1em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background: #5c2dd5;
    border-radius: 16px;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
  }
  div.connect-four div.container div.game-screen main.main-content div.game {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "player board opponent";
    gap: 30px;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.player-content {
    height: 140px;
    width: 120px;
    background: #fff;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.player-content b {
    margin-bottom: 2px;
    text-transform: uppercase;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.player-content h1 {
    font-size: 42px;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.player-content.player {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: player;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.player-content.opponent {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: opponent;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.board {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: board;
    width: 632px;
    height: 582px;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top {
    padding-bottom: 22px;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row {
    padding-top: 15px;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-top div.board-row div.disc {
    height: 75px;
    width: 70px;
    border-radius: 60px;
  }
  div.connect-four div.container div.game-screen main.main-content div.game div.board div.board-back {
    background: url(../assets/board-layer-white-large.svg), url(../assets/board-layer-black-large.svg) no-repeat;
  }
}
/*# sourceMappingURL=index.css.map */