 $dark_purple: rgb(92,45,213);
 $light_purple: rgb(121,69,255);
 
 * {

    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
 }

 body, html {
    font-size: 16px;
 }

 div.connect-four {
    nav.navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5em;

        a, button {
            display: inline-block;
            padding: 1em 1.5em;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            background: rgb(92,45,213);
            border-radius: 16px;
            color: #fff;
            font-size: .8em;
            cursor: pointer;
        }
    }
 }

 div.connect-four {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $light_purple;
    div.game-screen {
        div.board {
            width: 632px;
            height: 584px;
            position: relative;

            div.board-back {
                background:url(../assets/board-layer-white-large.svg) ,url(../assets/board-layer-black-large.svg)  no-repeat;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                z-index: 2;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                button.button {
                    background: transparent;
                }
            }
            div.board-top {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                height: 100%;
                position: absolute;
                padding: 0 7px;
                padding-bottom: 49px;
                padding-top: 10px;
                top: 0;
                left: 0;
                width: 100%;
                div.board-row {
                    display: grid;
                    position: relative;
                    // background: rgba(0,0,0,.5);
                    grid-template-areas: 
                    "item-6"
                    "item-5"
                    "item-4"
                    "item-3"
                    "item-2"
                    "item-1";
                    justify-content: center;
                    align-items: stretch;
                    align-content: space-between;
                    // z-index: 10;
                    padding:5px 0;
                    div.disc {
                        height: 75px;
                        width: 70px;
                        border-radius: 60px;
                        
                        div.seed {
                            transform: translateY(-1000px);
                            position: relative;
                            animation-name: slidein;
                            animation-delay: .5s;
                            animation-duration: 1s;
                            animation-fill-mode: forwards;
                        }

                        &.item-1 {
                            grid-area: item-1;
                        }

                        &.item-2 {
                            grid-area: item-2;
                        }

                        &.item-3 {
                            grid-area:item-3;
                        }

                        &.item-4 {
                            grid-area:item-4;
                        }
                        &.item-5 {
                            grid-area:item-5;
                        }
                        &.item-6 {
                            grid-area:item-6;
                        }
                    }
                    &:hover {
                        background: rgba(0,0,0,.4);
                    }
                }
            }
        }
    }
 }

 @keyframes slidein {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
 }