* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-size: 16px;
}

div.connect-four {
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #7945FF;
}

div.connect-four div.game-screen div.board {
  width: 632px;
  height: 584px;
  position: relative;
}

div.connect-four div.game-screen div.board div.board-back {
  background: url(../assets/board-layer-white-large.svg), url(../assets/board-layer-black-large.svg) no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

div.connect-four div.game-screen div.board div.board-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  height: 100%;
  position: absolute;
  padding: 0 7px;
  padding-bottom: 49px;
  padding-top: 10px;
  top: 0;
  left: 0;
  width: 100%;
}

div.connect-four div.game-screen div.board div.board-top div.board-row {
  display: -ms-grid;
  display: grid;
  position: relative;
      grid-template-areas: "item-6" "item-5" "item-4" "item-3" "item-2" "item-1";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 5px 0;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc {
  height: 75px;
  width: 70px;
  border-radius: 60px;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc div.seed {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  position: relative;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc.item-1 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: item-1;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc.item-2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: item-2;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc.item-3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: item-3;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc.item-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item-4;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc.item-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-5;
}

div.connect-four div.game-screen div.board div.board-top div.board-row div.disc.item-6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-6;
}

div.connect-four div.game-screen div.board div.board-top div.board-row:hover {
  background: rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=index.css.map */